CBOR/CDDL vs. TLS Presentation Language

Encoding of protocol structures are described using the TLS Presentation Language (from [RFC 8446](https://www.rfc-editor.org/rfc/rfc8446#section-3)). 

Were other languages formats considered? In particular were CBOR ([RFC 8949 / STD 94](https://www.rfc-editor.org/info/std94)) and the description language CDDL ([RFC 8610](https://www.rfc-editor.org/rfc/rfc8610)) considered?

Advantages of CBOR/CDDL might be more wide-spread availability of existing implementations that could facilitate usage. This might be important as the exact wire format and encoding might be more intrusive into applications and protocols using MLS than protocols using TLS.

This protocol has been in development since 2018. It has been an IETF WG document since Feb 2019. It has been through two WGLCs and in now in Publication Requested. It has at least three implementations that I am aware of. During this entire time the protocol used TLS Presentation Language. While it may have been a good idea 3-4 years ago, the time to propose a different syntax has long passed.

Understand. Thanks for the insight.