Does the "MLS" prefix of some structs signal something?

Does anyone know why the MLS draft uses the "MLS" prefix for some structs, e.g., `MLSMessage` and not just `Message`? Is there (still) some logic behind this? None of the explanations I could come up with hold for all structs.

Maybe this is something that just evolved over the years? If so, I would be happy to make an editorial PR to remove all of those :-)

Historic...`TLSPlaintext`, `TLSInnerPlaintext` and `TLSCiphertext` from RFC 8446

>  This also helps disambiguating between message formats
Can you say more?

One of my theories was that it was used to avoid naming collision with other possibly "imported" structs from other RFCs. But its `ContentType` and not `MLSContentType`, so... :-)

Eg. A "plaintext" can be pretty much anything like a `TLSPlaintext` containing an `MLSCiphertext` while an MLSPlaintext has a specific format content. Structures which have more internal constraints on their values have less chances to be confused with each other.

First of all, sorry if I widen the scope of this issue a bit.

But when you said that the terminology comes from TLS, it clicked.

When I started to work with MLS a few weeks ago, I got confused by the term MLSPlaintext. In TLS, a TLSPlaintext is not protected and only used as a stepping stone. This is different in MLS because an MLSPlaintext is always signed and not "converted" into an MLSCiphertext afterwards.¹ It seems close to TLS but isn't.

Which brings me back to the "MLS" prefix thing. Not sure how peoples' heads work, but mine tries to get rid of not useful information such as an "MLS" prefix. And when we remove all "MLS" prefixes, it becomes more clear that Plaintext is probably not the right term to describe a signed message. The prefix "MLS" in MLSPlaintext blurries that because now we have something "MLS-specific". But still, it has "plaintext" in its name.

Also, I thought that -- similar to the fact that "...TBS" is "never send over the wire" -- the "MLS" prefix denotes things that are send over the wire -- which is not true, e.g., in the case of MLSContentTBS.

Furthermore, the MLS prefix makes MLSCiphertext and MLSPlaintext stand out in ...

```
MLSMessage
    Welcome
    KeyPackage
    GroupInfo
    MLSPlaintext // Why the prefix?
    MLSCiphertext // Why the prefix?
```

What makes these variants different?

What would have made more sense to me is something like ...

```
Message
    Welcome
    KeyPackage
    GroupInfo
    MLSPlaintext -> <Named after it's usage in the system>
    MLSCiphertext -> <Named after it's usage in the system>

MLSContent    -> Content
MLSContentTBS -> ContentTBS
MLSContentTBM -> ContentTBM
MLSSenderData    -> SenderData
...
```

However, I have no good idea what a much better name would be. `MLSPlaintext -> Signed{,Message}` and `MLSCiphertext -> SignedAndEncrypted{,Message}` is a bit better IMO but clunky.

¹ This was the case in the past, see https://github.com/mlswg/mls-protocol/pull/706.

> When I started to work with MLS a few weeks ago, I got confused by the term MLSPlaintext. In TLS, a TLSPlaintext is not protected and only used as a stepping stone. This is different in MLS because an MLSPlaintext is always signed and not "converted" into an MLSCiphertext afterwards.¹ It seems close to TLS but isn't.
> ¹ This was the case in the past, see #706.

For correctness, this was done in #523.
Before this PR, the procedure was to generate an MLSPlaintext and convert it to an MLSCiphertext. I this this is an heritage of TLS 1.3 which does the same thing ([RFC 8446, section 5.2](https://datatracker.ietf.org/doc/html/rfc8446#section-5.2)).
After this PR, the procedure is to generate a MLSContent and convert it to MLSPlaintext or MLSCiphertext.

Otherwise I agree, it would be nice to have consistent names in the document!

I agree that the current use of "MLS" in struct names is inconsistent, and MLSPlaintext / MLSCiphertext aren't accurate for what those messages do now.  This will be a large-ish change, but probably worth doing to increase clarity.

I did an audit of `MLS` struct names in the document and tried to think through what else they could be called.  Here's a proposal:

| Before                      | After                     | Notes                                                    |
|:----------------------------|:--------------------------|:---------------------------------------------------------|
| MLSMessage                  | MLSMessage                | "MLS" because it's the thing that goes on the wire       |
| MLSContent                  | GroupContent              | Content targeted to a group                              |
| MLSContentTBS               | GroupContentTBS           |                                                          |
| MLSContentAuthData          | GroupContentAuthData      |                                                          |
| MLSAuthenticatedContent     | AuthenticatedContent      | Signed content (for a group)                             |
| MLSContentTBM               | AuthenticatedContentTBM   |                                                          |
| MLSSenderData               | SenderData                |                                                          |
| MLSSenderDataAAD            | SenderDataAAD             |                                                          |
| MLSCiphertextContent        | ContentPlaintext          | Content prepared to be a "plaintext" input to encryption |
| MLSCiphertextContentAAD     | ContentAAD                |                                                          |
| MLSPlaintext                | PublicMessage             | An auth+integrity-protected group message                |
| MLSCiphertext               | PrivateMessage            | A auth+confidentiality-protected group message           |

The latter two are the most challenging.  It's difficult to get across precisely what they're about without getting super verbose.  Another route would be to use something like SignedMessage and EncryptedMessage.


Thanks for bringing this up @duesee and thanks for the proposal @bifurcation! I like the proposed changes, although might I suggest the prefix "Message" instead of "Group" for -Content -ContentTBS and -ContentAuthData? It is targeted to a group, but it's really the core content of a message.